
@use 'variables';
@use 'mixins';

.header-flex {
@include mixins.flex-config($justify: space-between, $align: center, $gap: 20px);
    height: variables.$header-height;


  .logo-main {
    width: variables.$logo-max-width; 
    height: auto;
    transition: opacity 0.3s ease;
    &:hover {
    opacity: 0.8;;
  }
  }
}


.logo-master-bytes {
  height: 60px;
  object-fit: contain;
}
.navbar {
  background-color: transparent;

  @media (min-width: 992px) {
    // Aplica el fondo solo en escritorio 
    background-color: variables.$color-primario;
  }
}
.navbar-espaciada {
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler {
  background-color: variables.$color-black;
  border: none;
  padding: 0px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%233193bb' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

form[role="search"] {
  @include mixins.search-input-button-style;
}

.nav-link {
  @include mixins.nav-link-style;
}

#menuOffcanvas ul li {
    margin-bottom: 20px; 
    
}

#menuOffcanvas {
  background-color: variables.$color-primario !important;
  color: variables.$color-blanco !important;


  input, input::placeholder {
    color: variables.$color-blanco !important;
  }


  .nav-link:hover,
  .nav-link.active {
    color: variables.$color-secundario !important;
    background-color: transparent;
    border-radius: 8px;
  }
}

