@use 'variables';
@use 'mixins';

.titulo-nosotros {
    color: variables.$color-primario;
    text-align: center;
}

.slogan-nosotros {
    text-align: center;
    
}

.historia-nosotros {
    @include mixins.flex-config($direction: column, $justify: flex-start);
    
    max-width: 800px;
    margin: 0 auto 30px auto;
    text-align: justify;
    line-height: 1.6;
    p {
        margin-bottom: 15px;
    }
}

.titulo-caracteristicas {
    text-align: center;
}

.titulo-nuestro-equipo {
    text-align: center;
    margin: 50px auto;
}

.contenedor-caracteristicas {
    @include mixins.grid-config(repeat(auto-fit, minmax(260px, 1fr)), 45px); 
    max-width: 100%;
    margin: 50px auto;

}
.estilo-caracteristica {
    @include mixins.flex-config($direction: column, $align: center);
    width: 100%;
    max-width: 320px;
    text-align: center;
    padding: 16px 24px;
    @include mixins.tarjeta-estilo(
        $shadow-color: variables.$color-primario,
        $border-color: variables.$color-primario,
        $radius: variables.$card-border-radius
    );
    margin: 0 auto;
    height: 100%;
}

.slogan-caracteristicas {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

.caracteristica {
    width: 150px;
    height: auto;
    margin-bottom: 15px; 
}

.equipo {
    @include mixins.grid-config(repeat(auto-fit, minmax(260px, 1fr)), 100px); 
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}

.integrante {
    position: relative;
    width: 100%;
    max-width: 300px;
    @include mixins.tarjeta-estilo(
        $shadow-color: variables.$color-primario,
        $border-color: transparent, 
        $radius: variables.$card-border-radius
    );
    margin-top: 70px;
    padding-top: 60px;
    background-color: variables.$color-blanco;
    h3 {
        font-size: 1.2rem;
        margin-top: 10px;
        font-weight: 700;
        text-align: center;
    }
    .tarea {
        font-style: italic;
        color: variables.$color-gris; 
        font-weight: 500;
        text-align: center;
        margin: 5px 10px;
    }
    p:not(.tarea) {
        font-size: 0.95rem;
        line-height: 1.5;
        color:variables.$color-gris-oscuro; 
        text-align: center;
        margin: 10px 15px 20px;
    }
}

.card-circular {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid variables.$color-blanco;
    box-shadow: 0 0 10px variables.$color-primario;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: variables.$bp-tablet) {
    .slogan {
        text-align: center;
        padding: 20px;
    }
    .titulo-inicio { 
        font-size: 18px;
    }
.estilo-caracteristica{
    height: 100%;
}
}