*{
    margin: 0;
    padding: 0;
}

body{
    background-image:  url(../assets/banner/banner.png);
}

$colors: red, green, blue;


$i: 6;

@while $i > 0 {
  .item-#{$i} {
    font-size: 2em * $i;
  }
  $i: $i - 1;
}


$themes: (light, dark);
$sizes: (small, medium, large);

@each $theme in $themes {
  @each $size in $sizes {
    .#{$theme}-#{$size} {
      @if $theme == light {
        background-color: white;
      } @else {
        background-color: black;
      }

      @if $size == small {
        font-size: 1em;
      } @else if $size == medium {
        font-size: 1.5em;
      } @else {
        font-size: 2em;
      }
    }
  }
}